<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>字体安装说明页</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style>
        .font-face{
            font-family: "汉仪平安行简";
            font-weight: bold;
        }
    </style>
    <script>
        $(document).ready(function(){
            $('#toggle').click(function(){
                $(body).toggleClass('font-face');
            })
        })
    </script>
</head>
<body  >
<div class="container" style="padding-top: 30px" >
    <table border="0" class="table table-hover text-center">
        <tr><td><h3>第一步：点击“点击下载字体~~~”，出现如下图所示的下载界面，将其保存到电脑。</h3></td></tr>
        <tr><td><img src="/images/下载.jpg"></td></tr>
        <tr><td><img src="/images/下载完成.jpg"></td></tr>
        <tr><td> <h3>第二步：双击下载完成的文件，进行安装</h3></td></tr>
        <tr><td><img src="/images/点击安装.jpg"></td></tr>
        <tr><td><img src="/images/正在安装.jpg"></td></tr>
        <tr><td><h3>最后，就可以看到效果啦~~~</h3></td></tr>
        <tr><td><img src="/images/切换前.jpg"></td></tr>
        <tr><td><img src="/images/切换后.jpg"></td></tr>
    </table>
</div>
</body>
</html>