<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
   <style>
       @font-face {
           font-family: hyr3gjm;
           src: url('/fonts/hyr3gjm.ttf');
       }
       .font-face{
           font-family: hyr3gjm;
       }
   </style>
</head>
<body>
<h2 >AJAX</h2>
<h2  style="font-family: hyr3gjm">AJAX</h2>
<h2  style="font-family: hyr3gjm">喜欢看你认真的样子</h2>
<h2 class="font-face" >喜欢看你认真的样子</h2>
<h2  style="font-family: hyr3gjm">AJAX</h2>

</body>
</html>