<!DOCTYPE html>
<html>
<head>
    <title>tinymce 4 editor</title>
</head>
<body>

<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/tinymce/jquery.tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: '#my_editor',
        plugins: ["image"],
        file_browser_callback: function(field_name, url, type, win) {
            if(type=='image') $('#my_form input').click();
        },
        language:'zh_CN'
    });
</script>

<textarea id="my_editor"></textarea>

<iframe id="form_target" name="form_target" style="display:none"></iframe>

<form id="my_form" action="/upload/" target="form_target" method="post" enctype="multipart/form-data" style="width:0px;height:0;overflow:hidden"><input name="image" id="image" type="file" onchange="getFileName();" this.value=";"></form>

</body>
<script type="text/javascript">
    function getFileName() {
        $(".mce-textbox.mce-placeholder").val($("#image").val());
    }
</script>
</html>